 <header id="header"> 
    <nav class="navbar">
      <a href="#" class="nav-logo">
        <h2 class="logo-text">Lucinda Tgetgel</h2>
      </a>
      <ul class="nav-menu">
        <button id="menu-close-button" class="fas fa-times"></button>
        <li class="nav-item">
          <a href="#about" class="nav-link">Über mich</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#testimonials" class="nav-link">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Kontakt</a>
        </li>
      </ul>
      <button id="menu-open-button" class="fas fa-bars"></button>
    </nav>
  </header>
