* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.card {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  text-align: center;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search input {
  border: none;
  border-radius: 5rem;
  padding: 0.75rem 5rem;
  height: 3rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.search button {
  border: none;
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.search button img {
  width: 20px;
  margin-top: 7px;
}

.weather-icon {
  width: 200px;
  margin-top: 30px;
}

.weather h2 {
  font-size: 80px;
  font-weight: 500;
}

.weather h3 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  padding: 1.5rem;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 3rem;
}

.col p {
  margin-left: 1rem;
}

.humidity {
  font-size: 2rem;
}

.wind {
  font-size: 2rem;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 1rem;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
