* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --font-size-xs: 0.75rem;
    --font-size-xs: 1rem;
    --font-size-s: 1.5rem;
    --font-size-m: 2rem;
    --font-size-l: 3rem;
    --font-size-xl: 5rem;
}

body,html {
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--font-size-s);
}

.skill {
    width: 160px;
    height: 160px;
    /* background: rgb(60, 125, 205); */
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
    font-size: var(--font-size-xs);
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: animate 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.buttons input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    background: #ecf1f7;
    border: 2px solid #c0c4c7;
    width: 130px;
}

.buttons #error-message {
    display: flex;
    margin-top: 20px;
    font-size: 14px;
    color: red;
}
